.header {
  max-width: 1200px;
  padding: 40px 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3rem;
  padding: 10px 20px;
  text-decoration: none;
  color: #0b0c12;
  display: block;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
}
